<footer>
  <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quos cumque quas aspernatur ipsum doloremque, explicabo assumenda quisquam nostrum suscipit itaque recusandae impedit 
    minima necessitatibus architecto magnam quasi excepturi corrupti.</h1>
   <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat consequuntur corrupti tempore dicta quisquam deserunt enim necessitatibus debitis, consequatur quod porro reprehenderit 
    et optio at eligendi dignissimos. Exercitationem, placeat in.</p>   
</footer>